In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
pipeline = pd.read_csv('pipeline_typo_fix.csv')
sellers = pd.read_csv('sales_teams.csv')
products = pd.read_csv('products.csv')
accts = pd.read_csv('accounts.csv')

In [3]:
pipeline_w_products = pd.merge(pipeline, products, 'left', 'product')

In [4]:
pipeline_w_products.info()  #columns check out and number of non-null values chacek out.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   object
 6   close_date      6711 non-null   object
 7   close_value     6711 non-null   float64
 8   series          8800 non-null   object
 9   sales_price     8800 non-null   int64
dtypes: float64(1), int64(1), object(8)
memory usage: 687.6+ KB

In [6]:
pipeline_w_products.shape #8,800 by 10 is what we wanted.

(8800, 10)

In [7]:
#now join accts
pipeline_w_products_and_accts = pd.merge(pipeline_w_products, accts, 'left', 'account')

In [8]:
pipeline_w_products_and_accts.info() #looks good

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   opportunity_id    8800 non-null   object
 1   sales_agent       8800 non-null   object
 2   product           8800 non-null   object
 3   account           7375 non-null   object
 4   deal_stage        8800 non-null   object
 5   engage_date       8300 non-null   object
 6   close_date        6711 non-null   object
 7   close_value       6711 non-null   float64
 8   series            8800 non-null   object
 9   sales_price       8800 non-null   int64
 10  sector            7375 non-null   object
 11  year_established  7375 non-null   float64
 12  revenue           7375 non-null   float64
 13  employees         7375 non-null   float64
 14  office_location   7375 non-null   object
 15  subsidiary_of     1292 non-null   object
dtypes: float64(4), int64(1), object(11)
memory usage: 1.1+ MB

In [9]:
pipeline_w_products_and_accts.shape #looks good

(8800, 16)

In [10]:
#now join sellers
fully_joined_outer = pd.merge(pipeline_w_products_and_accts, sellers, 'outer', 'sales_agent')

In [11]:
fully_joined_outer.shape #good. I expected 8,805 and 18. 5 sellers have no activity.

(8805, 18)

In [12]:
fully_joined_outer.info() #looks good! should check for null counts next. fully_joined_outer ready for export.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8805 entries, 0 to 8804
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   opportunity_id    8800 non-null   object
 1   sales_agent       8805 non-null   object
 2   product           8800 non-null   object
 3   account           7375 non-null   object
 4   deal_stage        8800 non-null   object
 5   engage_date       8300 non-null   object
 6   close_date        6711 non-null   object
 7   close_value       6711 non-null   float64
 8   series            8800 non-null   object
 9   sales_price       8800 non-null   float64
 10  sector            7375 non-null   object
 11  year_established  7375 non-null   float64
 12  revenue           7375 non-null   float64
 13  employees         7375 non-null   float64
 14  office_location   7375 non-null   object
 15  subsidiary_of     1292 non-null   object
 16  manager           8805 non-null   object
 17  regional_office   8805 non-null   object
dtypes: float64(5), object(13)
memory usage: 1.2+ MB

In [13]:
pd.isnull(fully_joined_outer).sum() #this all checks out. tableau can handle two data sources without creating a relationship
# this inspired me to create two CSVs for use in tableau; one that joins sellers with an outer join. one that joins sellers left.

opportunity_id         5
sales_agent            0
product                5
account             1430
deal_stage             5
engage_date          505
close_date          2094
close_value         2094
series                 5
sales_price            5
sector              1430
year_established    1430
revenue             1430
employees           1430
office_location     1430
subsidiary_of       7513
manager                0
regional_office        0
dtype: int64

In [14]:
# to have an alternative, left join sellers to pipeline_w_products_and_accts
fully_joined_lefts = pd.merge(pipeline_w_products_and_accts, sellers, 'left', 'sales_agent')

In [15]:
fully_joined_lefts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   opportunity_id    8800 non-null   object
 1   sales_agent       8800 non-null   object
 2   product           8800 non-null   object
 3   account           7375 non-null   object
 4   deal_stage        8800 non-null   object
 5   engage_date       8300 non-null   object
 6   close_date        6711 non-null   object
 7   close_value       6711 non-null   float64
 8   series            8800 non-null   object
 9   sales_price       8800 non-null   int64
 10  sector            7375 non-null   object
 11  year_established  7375 non-null   float64
 12  revenue           7375 non-null   float64
 13  employees         7375 non-null   float64
 14  office_location   7375 non-null   object
 15  subsidiary_of     1292 non-null   object
 16  manager           8800 non-null   object
 17  regional_office   8800 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 1.2+ MB

In [17]:
fully_joined_lefts.shape

(8800, 18)

In [19]:
#before I export either of these, lets try pd.df.drop_duplicates() just in case there are duplicates. check the diff.
fully_joined_lefts.drop_duplicates() #did nothing. no dupliates.

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of,manager,regional_office
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,GTX,1096,retail,2001.0,718.62,2448.0,United States,NaN,Dustin Brinkmann,Central
1,Z063OYW0,Darcel Schlecht,GTX Pro,Isdom,Won,2016-10-25,2017-03-11,4514.0,GTX,4821,medical,2002.0,3178.24,4540.0,United States,NaN,Melvin Marxen,Central
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0,MG,55,retail,2001.0,718.62,2448.0,United States,NaN,Melvin Marxen,Central
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,GTX,550,software,1998.0,2714.90,2641.0,United States,Acme Corporation,Dustin Brinkmann,Central
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0,GTX,550,services,1982.0,792.46,1299.0,United States,NaN,Summer Sewald,West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central

In [20]:
#drop duplicates for outer...
fully_joined_outer.drop_duplicates()  #did nothing. no duplicates.

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of,manager,regional_office
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,GTX,1096.0,retail,2001.0,718.62,2448.0,United States,NaN,Dustin Brinkmann,Central
1,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,GTX,550.0,software,1998.0,2714.90,2641.0,United States,Acme Corporation,Dustin Brinkmann,Central
2,WF4HA5NW,Moses Frase,MG Special,Ron-tech,Won,2016-11-07,2017-03-18,50.0,MG,55.0,medical,1992.0,3922.42,6837.0,United States,NaN,Dustin Brinkmann,Central
3,LGI8QEC2,Moses Frase,GTX Basic,Treequote,Won,2016-12-02,2017-03-06,583.0,GTX,550.0,telecommunications,1988.0,5266.09,8595.0,United States,Sonron,Dustin Brinkmann,Central
4,I043RXJV,Moses Frase,GTX Plus Basic,Dontechi,Lost,2016-12-03,2017-03-17,0.0,GTX,1096.0,software,1982.0,4618.00,10083.0,United States,NaN,Dustin Brinkmann,Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8800,NaN,Mei-Mei Johns,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Melvin Marxen,Central
8801,NaN,Elizabeth Anderson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cara Losch,East
8802,NaN,Natalya Ivanova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rocco Neubert,East
8803,NaN,Carol Thompson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Celia Rouche,West
8804,NaN,Carl Lin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Summer Sewald,West

In [24]:
#now, let's replace null account names in each df before exporting each df to new CSVs. be careful to only replace nulls in account col
values = {"account": 'No Acct Name Entered'}
fully_joined_lefts_final = fully_joined_lefts.fillna(value=values)

In [25]:
fully_joined_lefts_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   opportunity_id    8800 non-null   object
 1   sales_agent       8800 non-null   object
 2   product           8800 non-null   object
 3   account           8800 non-null   object
 4   deal_stage        8800 non-null   object
 5   engage_date       8300 non-null   object
 6   close_date        6711 non-null   object
 7   close_value       6711 non-null   float64
 8   series            8800 non-null   object
 9   sales_price       8800 non-null   int64
 10  sector            7375 non-null   object
 11  year_established  7375 non-null   float64
 12  revenue           7375 non-null   float64
 13  employees         7375 non-null   float64
 14  office_location   7375 non-null   object
 15  subsidiary_of     1292 non-null   object
 16  manager           8800 non-null   object
 17  regional_office   8800 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 1.2+ MB

In [26]:
#since that worked, let's do it again for fully joined outer bfore exporting
values = {"account": 'No Acct Name Entered'}
fully_joined_outer_final = fully_joined_outer.fillna(value=values)

In [27]:
fully_joined_outer_final.info() #that worked too. cleaning until this point done 12:54pm 5/23/24. at this point I've fixed the product
#typo with GTXPro, removed duplicates(didn't exist), and filled acct name nulls with 'no acct name entered'. I have one join structure
#that allows for seeing sellers with no activity and one that only shows sellers with optys.
#I also made sure that GTXPro was the only primary key typo.I made and documented decisions to leave several columns of nas alone in txt

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8805 entries, 0 to 8804
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   opportunity_id    8800 non-null   object
 1   sales_agent       8805 non-null   object
 2   product           8800 non-null   object
 3   account           8805 non-null   object
 4   deal_stage        8800 non-null   object
 5   engage_date       8300 non-null   object
 6   close_date        6711 non-null   object
 7   close_value       6711 non-null   float64
 8   series            8800 non-null   object
 9   sales_price       8800 non-null   float64
 10  sector            7375 non-null   object
 11  year_established  7375 non-null   float64
 12  revenue           7375 non-null   float64
 13  employees         7375 non-null   float64
 14  office_location   7375 non-null   object
 15  subsidiary_of     1292 non-null   object
 16  manager           8805 non-null   object
 17  regional_office   8805 non-null   object
dtypes: float64(5), object(13)
memory usage: 1.2+ MB

In [28]:
#time to export. let's start with fully_joined_lefts_final
file_path = 'pipeline_left_joins_cleaned_5_23_24_01.csv' 
fully_joined_lefts_final.to_csv(file_path, index=False)

In [29]:
#new csv for fully_joined_outer_final
file_path = 'pipeline_outer_joins_cleaned_5_23_24_01.csv' 
fully_joined_outer_final.to_csv(file_path, index=False)

In [31]:
#am I sure about my claim that there is only one product per opty?
fully_joined_lefts_final['product'].value_counts() 
#looks promising but I don't know if this is a guarantee.

product
GTX Basic         1866
MG Special        1651
GTX Pro           1480
MG Advanced       1412
GTX Plus Basic    1383
GTX Plus Pro       968
GTK 500             40
Name: count, dtype: int64

In [36]:
fully_joined_lefts_final[ fully_joined_lefts_final['close_value'] > 20000 ]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of,manager,regional_office
59,XUSUEAV7,Elease Gluck,GTK 500,Zoomit,Won,2016-11-20,2017-03-09,25897.0,GTK,26768,entertainment,1992.0,324.19,978.0,United States,NaN,Celia Rouche,West
677,60UOBOEM,Rosalina Dieter,GTK 500,Groovestreet,Won,2017-02-01,2017-06-07,30288.0,GTK,26768,retail,2003.0,223.80,299.0,United States,NaN,Celia Rouche,West
1156,4V0S4BA3,Markita Hansen,GTK 500,Goodsilron,Won,2017-02-27,2017-06-27,29617.0,GTK,26768,marketing,2000.0,2952.73,5107.0,United States,NaN,Celia Rouche,West
1825,JXUXBANJ,Rosalina Dieter,GTK 500,Y-corporation,Won,2017-03-26,2017-04-05,25288.0,GTK,26768,employment,1983.0,2871.35,9561.0,United States,NaN,Celia Rouche,West
2559,OUIK8VX3,Elease Gluck,GTK 500,Lexiqvolax,Won,2017-04-19,2017-04-20,23746.0,GTK,26768,medical,2004.0,1618.89,3889.0,United States,NaN,Celia Rouche,West
2586,K0T5LJ3E,Elease Gluck,GTK 500,Plexzap,Won,2017-04-20,2017-06-28,24949.0,GTK,26768,retail,2001.0,2437.85,4874.0,United States,NaN,Celia Rouche,West
2808,731TOWDY,Elease Gluck,GTK 500,Labdrill,Won,2017-04-28,2017-06-18,27385.0,GTK,26768,medical,1985.0,2741.37,9226.0,United States,NaN,Celia Rouche,West
3352,TB27K4GC,Markita Hansen,GTK 500,Finjob,Won,2017-05-22,2017-08-14,24745.0,GTK,26768,employment,1988.0,2059.90,3644.0,United States,NaN,Celia Rouche,West
3495,83JP1K4E,Rosalina Dieter,GTK 500,Rantouch,Won,2017-05-28,2017-08-28,24899.0,GTK,26768,telecommunications,1994.0,1188.42,3015.0,United States,NaN,Celia Rouche,West
3522,4X3H9YD5,Rosalina Dieter,GTK 500,Kan-code,Won,2017-05-29,2017-08-29,25791.0,GTK,26768,software,1982.0,11698.03,34288.0,United States,NaN,Celia Rouche,West
3839,LSJ2A8ZX,Markita Hansen,GTK 500,Cheers,Won,2017-06-11,2017-09-26,29166.0,GTK,26768,entertainment,1993.0,4269.90,6472.0,United States,Massive Dynamic,Celia Rouche,West
3925,6X4EEUGA,Elease Gluck,GTK 500,Cheers,Won,2017-06-15,2017-06-30,25464.0,GTK,26768,entertainment,1993.0,4269.90,6472.0,United States,Massive Dynamic,Celia Rouche,West
6420,1H2PVLZ3,Rosalina Dieter,GTK 500,Xx-holding,Won,2017-09-03,2017-11-10,26186.0,GTK,26768,finance,1993.0,7537.24,20293.0,United States,NaN,Celia Rouche,West
7848,H3K2E35I,Elease Gluck,GTK 500,Cheers,Won,2017-10-28,2017-10-29,27971.0,GTK,26768,entertainment,1993.0,4269.90,6472.0,United States,Massive Dynamic,Celia Rouche,West
8078,GB6C2UK5,Elease Gluck,GTK 500,Xx-holding,Won,2017-11-18,2017-12-04,29220.0,GTK,26768,finance,1993.0,7537.24,20293.0,United States,NaN,Celia Rouche,West