In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df = pd.read_csv('sales_pipeline.csv')

In [5]:
df['product'].value_counts()

product
GTX Basic         1866
MG Special        1651
GTXPro            1480
MG Advanced       1412
GTX Plus Basic    1383
GTX Plus Pro       968
GTK 500             40
Name: count, dtype: int64

In [5]:
df[ (df['account'] == 'Acme Corporation')  ]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
34,N4SD17JR,Reed Clapper,GTX Basic,Acme Corporation,Won,2016-11-12,2017-03-01,556.0
506,TBZMXKH4,Wilburn Farren,MG Advanced,Acme Corporation,Won,2017-01-15,2017-03-29,3833.0
508,S3W6Q07M,Kami Bicknell,GTX Plus Pro,Acme Corporation,Engaging,2017-01-16,NaN,NaN
583,V4324HG4,Violet Mclelland,MG Special,Acme Corporation,Lost,2017-01-23,2017-05-06,0.0
595,TK9T01QM,Reed Clapper,GTXPro,Acme Corporation,Lost,2017-01-25,2017-05-07,0.0
...,...,...,...,...,...,...,...,...
7992,C3KQJVDU,Corliss Cosme,GTX Basic,Acme Corporation,Won,2017-11-10,2017-11-18,577.0
8046,7OIR36P2,Donn Cantrell,GTXPro,Acme Corporation,Won,2017-11-15,2017-12-27,4980.0
8128,IJ2CLOLZ,Daniell Hammack,GTXPro,Acme Corporation,Won,2017-11-24,2017-12-09,4445.0
8388,VAM56BG4,Darcel Schlecht,GTX Plus Basic,Acme Corporation,Prospecting,NaN,NaN,NaN
8671,MI3MV7PU,Marty Freudenburg,MG Advanced,Acme Corporation,Prospecting,NaN,NaN,NaN

In [3]:
df.head()

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTXPro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0

In [11]:
df.tail()

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   opportunity_id  8800 non-null   object
 1   sales_agent     8800 non-null   object
 2   product         8800 non-null   object
 3   account         7375 non-null   object
 4   deal_stage      8800 non-null   object
 5   engage_date     8300 non-null   object
 6   close_date      6711 non-null   object
 7   close_value     6711 non-null   float64
dtypes: float64(1), object(7)
memory usage: 550.1+ KB

In [5]:
df.describe()

        close_value
count   6711.000000
mean    1490.915512
std     2320.670773
min        0.000000
25%        0.000000
50%      472.000000
75%     3225.000000
max    30288.000000

In [8]:
df['opportunity_id'].nunique()

8800

In [9]:
df['deal_stage'].value_counts()

deal_stage
Won            4238
Lost           2473
Engaging       1589
Prospecting     500
Name: count, dtype: int64

In [12]:
df.nunique()

opportunity_id    8800
sales_agent         30
product              7
account             85
deal_stage           4
engage_date        421
close_date         306
close_value       2051
dtype: int64

In [10]:
df.dtypes

opportunity_id     object
sales_agent        object
product            object
account            object
deal_stage         object
engage_date        object
close_date         object
close_value       float64
dtype: object

In [4]:
df[ (df['deal_stage'] == 'Prospecting') & (df['engage_date'].isnull()) ]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
8300,6CWZFOHJ,Anna Snelling,GTX Basic,Green-Plus,Prospecting,NaN,NaN,NaN
8301,3LCLVRVV,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8302,YIU1B39V,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8303,8E0VRCLW,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8304,G99CS23F,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [7]:
df[ (df['deal_stage'] == 'Engaging') & (df['account'].isnull()) ]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
9,HAXMC4IX,James Ascencio,MG Advanced,NaN,Engaging,2016-11-03,NaN,NaN
42,EG7OFLFR,Kami Bicknell,GTX Basic,NaN,Engaging,2016-11-14,NaN,NaN
44,OLVI7L8M,Cassey Cress,GTXPro,NaN,Engaging,2016-11-16,NaN,NaN
56,F5U1ACDD,Kami Bicknell,GTX Plus Basic,NaN,Engaging,2016-11-19,NaN,NaN
60,ZZY4516R,Hayden Neloms,MG Advanced,NaN,Engaging,2016-11-20,NaN,NaN
...,...,...,...,...,...,...,...,...
8271,T6MPH7JC,Violet Mclelland,MG Special,NaN,Engaging,2017-12-17,NaN,NaN
8277,NGTVHTFH,Boris Faz,GTXPro,NaN,Engaging,2017-12-19,NaN,NaN
8285,HCQK8NQ8,Wilburn Farren,GTX Plus Basic,NaN,Engaging,2017-12-20,NaN,NaN
8286,RDHTQLNI,Cassey Cress,GTX Plus Pro,NaN,Engaging,2017-12-21,NaN,NaN
8290,DB801ISB,Elease Gluck,MG Special,NaN,Engaging,2017-12-22,NaN,NaN

In [9]:
#verify 2,089 close date nulls are 1589 engaging and 500 prospecting
# df[ (df['deal_stage'] == 'Engaging') & (df['close_date'].isnull()) ]   gets 1589
df[ (df['deal_stage'] == 'Prospecting') & (df['close_date'].isnull()) ]   #gets 500... yep!

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
8300,6CWZFOHJ,Anna Snelling,GTX Basic,Green-Plus,Prospecting,NaN,NaN,NaN
8301,3LCLVRVV,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8302,YIU1B39V,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8303,8E0VRCLW,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
8304,G99CS23F,Anna Snelling,GTX Basic,NaN,Prospecting,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [10]:
#verify number of close value of 0 are deal stage lost. 2473 optys.

df[ (df['deal_stage'] == 'Lost') & (df['close_value'] == 0.0) ]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
11,KWVA7VR1,Gladys Colclough,GTXPro,Genco Pura Olive Oil Company,Lost,2016-11-04,2017-03-18,0.0
15,3F5MZNEH,Rosalina Dieter,MG Special,Sonron,Lost,2016-11-05,2017-03-03,0.0
18,902REDPA,Daniell Hammack,GTXPro,Xx-zobam,Lost,2016-11-07,2017-03-09,0.0
20,JJXRR8R6,James Ascencio,GTX Plus Pro,Fasehatice,Lost,2016-11-07,2017-03-17,0.0
27,AO9Z2D17,Violet Mclelland,GTX Plus Pro,Xx-zobam,Lost,2016-11-10,2017-03-11,0.0
...,...,...,...,...,...,...,...,...
8263,8LFA54EQ,Rosalina Dieter,MG Special,Newex,Lost,2017-12-16,2017-12-21,0.0
8270,Q30OVFCZ,Vicki Laflamme,GTX Plus Basic,Sonron,Lost,2017-12-17,2017-12-31,0.0
8278,OHAARANW,Darcel Schlecht,GTXPro,Bioholding,Lost,2017-12-19,2017-12-30,0.0
8282,CNL7PCYU,Donn Cantrell,MG Advanced,Xx-zobam,Lost,2017-12-20,2017-12-28,0.0
8291,8QJHJXY0,Kary Hendrixson,MG Special,Sunnamplex,Lost,2017-12-22,2017-12-31,0.0

In [21]:
#verify number of deal stage won. 4238
#df[ df['deal_stage'] == 'Won'  ]   
#verify no won opptys have nulls in close value.  It's true. all null close values belong to engaging or prospecting. 
df[ (df['deal_stage'] == 'Won') & (df['close_value'].isnull()) ]

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value]
Index: []

In [20]:
#any deal values of 0 that have a stage other than lost? nope.
df[ (df['deal_stage'] == 'Prospecting') & (df['close_value'] == 0.0) ]

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value]
Index: []

In [37]:
df['account'].unique() #typo hunting

array(['Cancity', 'Isdom', 'Codehow', 'Hatfan', 'Ron-tech', 'J-Texon',
       'Cheers', 'Zumgoity', nan, 'Bioholding',
       'Genco Pura Olive Oil Company', 'Sunnamplex', 'Sonron', 'Finjob',
       'Scotfind', 'Treequote', 'Xx-zobam', 'Rantouch', 'Fasehatice',
       'Vehement Capital Partners', 'Warephase', 'Zoomit', 'Ganjaflex',
       'Labdrill', 'Zotware', 'dambase', 'Xx-holding', 'Acme Corporation',
       'Green-Plus', 'The New York Inquirer', 'Mathtouch', 'Gogozoom',
       'Stanredtax', 'Konmatfix', 'Conecom', 'Golddex', 'Plexzap',
       'Rundofase', 'Finhigh', 'Funholding', 'Opentech', 'Silis',
       'Goodsilron', 'Rangreen', 'Kan-code', 'Nam-zim', 'Y-corporation',
       'Bioplex', 'Plusstrip', 'Toughzap', 'Dalttechnology', 'Ontomedia',
       'Kinnamplus', 'Lexiqvolax', 'Statholdings', 'Umbrella Corporation',
       'Bubba Gump', 'Faxquote', 'Dontechi', 'Konex', 'Betasoloin',
       'Domzoom', 'Donquadtech', 'Globex Corporation', 'Plussunin',
       'Condax', 'Massive Dynamic', 'Doncon', 'Scottech', 'Gekko & Co',
       'Initech', 'Singletechno', 'Yearin', 'Zathunicon', 'Betatech',
       'Blackzim', 'Hottechi', 'Inity', 'Sumace', 'Zencorporation',
       'Groovestreet', 'Donware', 'Streethex', 'Iselectrics', 'Newex',
       'Bluth Company'], dtype=object)

In [135]:
len(df[(df['account'] == 'Zumgoity')])

63

In [143]:
len(df[(df['product'] == 'GTXPro')])

1480

In [186]:
pd.isnull(df['sales_agent']).sum()

0

In [193]:
df['sales_agent'].unique()

array(['Moses Frase', 'Darcel Schlecht', 'Zane Levy', 'Anna Snelling',
       'Vicki Laflamme', 'Markita Hansen', 'Niesha Huffines',
       'James Ascencio', 'Gladys Colclough', 'Maureen Marcano',
       'Hayden Neloms', 'Rosalina Dieter', 'Versie Hillebrand',
       'Daniell Hammack', 'Elease Gluck', 'Violet Mclelland',
       'Kami Bicknell', 'Rosie Papadopoulos', 'Kary Hendrixson',
       'Reed Clapper', 'Wilburn Farren', 'Garret Kinder',
       'Marty Freudenburg', 'Cassey Cress', 'Lajuana Vencill',
       'Boris Faz', 'Donn Cantrell', 'Corliss Cosme', 'Cecily Lampkin',
       'Jonathan Berthelot'], dtype=object)

In [6]:
#let's try fixing the one typo we know is problematic. change all instances of GTXPro to GTX Pro. use .replace
df_typo_fix = df.replace('GTXPro','GTX Pro')

In [7]:
df_typo_fix   # it worked.

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTX Pro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [198]:
#path:
file_path = 'pipeline_typo_fix.csv'

In [199]:
df_typo_fix.to_csv(file_path, index=False)

In [202]:
#let's try replacing all account nulls with 'No Account Name Yet'. use .replace
#this is wrong and didn't work. don't re-run
df_acct_nas_slved_typo_fix = df_typo_fix['account'].fillna('No Acct Name Yet')

In [203]:
df_acct_nas_slved_typo_fix #it didn't work.

0                   Cancity
1                     Isdom
2                   Cancity
3                   Codehow
4                    Hatfan
               ...
8795    No Account Name Yet
8796    No Account Name Yet
8797    No Account Name Yet
8798    No Account Name Yet
8799    No Account Name Yet
Name: account, Length: 8800, dtype: object

In [ ]:
# chat gpt recommends:    df['City'] = df['City'].replace('New York', 'NYC')
#didn't fix it that way.

In [8]:
df_typo_fix['sales_agent'].value_counts()

sales_agent
Darcel Schlecht       747
Vicki Laflamme        451
Anna Snelling         448
Kary Hendrixson       438
Kami Bicknell         362
Versie Hillebrand     361
Zane Levy             349
Cassey Cress          346
Jonathan Berthelot    345
Gladys Colclough      317
Lajuana Vencill       311
Corliss Cosme         310
Markita Hansen        306
Maureen Marcano       285
Marty Freudenburg     281
Donn Cantrell         275
James Ascencio        267
Violet Mclelland      261
Moses Frase           260
Daniell Hammack       259
Niesha Huffines       239
Reed Clapper          237
Boris Faz             210
Cecily Lampkin        203
Hayden Neloms         202
Elease Gluck          177
Rosie Papadopoulos    160
Rosalina Dieter       160
Garret Kinder         123
Wilburn Farren        110
Name: count, dtype: int64

In [13]:
df_typo_fix['account'].value_counts()

account
Hottechi                        200
Kan-code                        196
Konex                           178
Condax                          170
Dontechi                        129
Codehow                         121
Isdom                           119
Treequote                       116
Inity                           113
Ron-tech                        112
Singletechno                    112
Funholding                      109
Rangreen                        109
Streethex                       109
Stanredtax                      106
Warephase                       106
Scotfind                        105
Rundofase                       104
Plussunin                       103
Finhigh                         102
Cancity                         101
Cheers                           98
Conecom                          97
Goodsilron                       95
Xx-zobam                         94
Genco Pura Olive Oil Company     94
Bioholding                       94
Betatech                         92
Y-corporation                    92
dambase                          92
Globex Corporation               91
Donquadtech                      91
Finjob                           89
Mathtouch                        88
Faxquote                         88
Gekko & Co                       88
Hatfan                           87
Xx-holding                       87
Fasehatice                       85
Scottech                         84
Umbrella Corporation             84
Blackzim                         83
Domzoom                          83
Plexzap                          82
Labdrill                         81
Ganjaflex                        81
Green-Plus                       81
Gogozoom                         79
Sonron                           79
J-Texon                          77
Lexiqvolax                       75
Zotware                          75
Konmatfix                        74
Kinnamplus                       73
Silis                            72
Toughzap                         72
Dalttechnology                   72
Sunnamplex                       71
Statholdings                     71
Initech                          70
Rantouch                         69
Betasoloin                       68
Acme Corporation                 68
Vehement Capital Partners        66
Groovestreet                     64
Golddex                          64
Zumgoity                         63
Massive Dynamic                  62
Yearin                           62
Nam-zim                          61
Opentech                         60
Bubba Gump                       59
Zathunicon                       59
Doncon                           59
Ontomedia                        59
Bluth Company                    59
Zoomit                           58
Zencorporation                   58
Donware                          57
Plusstrip                        56
Newex                            55
Bioplex                          53
The New York Inquirer            52
Sumace                           52
Iselectrics                      51
Name: count, dtype: int64

In [12]:
pd.set_option('display.max_rows', None) #to show entire dataframe with no elipses.