In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
pd.set_option('display.max_rows', None)

In [17]:
df = pd.read_csv('sales_teams.csv')

In [18]:
df

           sales_agent           manager regional_office
0        Anna Snelling  Dustin Brinkmann         Central
1       Cecily Lampkin  Dustin Brinkmann         Central
2    Versie Hillebrand  Dustin Brinkmann         Central
3      Lajuana Vencill  Dustin Brinkmann         Central
4          Moses Frase  Dustin Brinkmann         Central
5   Jonathan Berthelot     Melvin Marxen         Central
6    Marty Freudenburg     Melvin Marxen         Central
7     Gladys Colclough     Melvin Marxen         Central
8      Niesha Huffines     Melvin Marxen         Central
9      Darcel Schlecht     Melvin Marxen         Central
10       Mei-Mei Johns     Melvin Marxen         Central
11    Violet Mclelland        Cara Losch            East
12       Corliss Cosme        Cara Losch            East
13  Rosie Papadopoulos        Cara Losch            East
14       Garret Kinder        Cara Losch            East
15      Wilburn Farren        Cara Losch            East
16  Elizabeth Anderson        Cara Losch            East
17     Daniell Hammack     Rocco Neubert            East
18        Cassey Cress     Rocco Neubert            East
19       Donn Cantrell     Rocco Neubert            East
20        Reed Clapper     Rocco Neubert            East
21           Boris Faz     Rocco Neubert            East
22     Natalya Ivanova     Rocco Neubert            East
23      Vicki Laflamme      Celia Rouche            West
24     Rosalina Dieter      Celia Rouche            West
25       Hayden Neloms      Celia Rouche            West
26      Markita Hansen      Celia Rouche            West
27        Elease Gluck      Celia Rouche            West
28      Carol Thompson      Celia Rouche            West
29      James Ascencio     Summer Sewald            West
30     Kary Hendrixson     Summer Sewald            West
31       Kami Bicknell     Summer Sewald            West
32           Zane Levy     Summer Sewald            West
33     Maureen Marcano     Summer Sewald            West
34            Carl Lin     Summer Sewald            West

In [19]:
df.head()

         sales_agent           manager regional_office
0      Anna Snelling  Dustin Brinkmann         Central
1     Cecily Lampkin  Dustin Brinkmann         Central
2  Versie Hillebrand  Dustin Brinkmann         Central
3    Lajuana Vencill  Dustin Brinkmann         Central
4        Moses Frase  Dustin Brinkmann         Central

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   sales_agent      35 non-null     object
 1   manager          35 non-null     object
 2   regional_office  35 non-null     object
dtypes: object(3)
memory usage: 972.0+ bytes

In [21]:
df.nunique()

sales_agent        35
manager             6
regional_office     3
dtype: int64

In [22]:
df.describe()

          sales_agent        manager regional_office
count              35             35              35
unique             35              6               3
top     Anna Snelling  Melvin Marxen            East
freq                1              6              12

In [2]:
df1 = pd.read_csv('pipeline_typo_fix.csv')

In [3]:
df1

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0
1,Z063OYW0,Darcel Schlecht,GTX Pro,Isdom,Won,2016-10-25,2017-03-11,4514.0
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0
...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8798,18IUIUK0,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,NaN,Prospecting,NaN,NaN,NaN

In [2]:
#testing my csvs created at 1p 5/23/24 worked. 
df = pd.read_csv('pipeline_left_joins_cleaned_5_23_24_01.csv')
df2 = pd.read_csv('pipeline_outer_joins_cleaned_5_23_24_01.csv')

In [3]:
df #looks like it worked.

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of,manager,regional_office
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,GTX,1096,retail,2001.0,718.62,2448.0,United States,NaN,Dustin Brinkmann,Central
1,Z063OYW0,Darcel Schlecht,GTX Pro,Isdom,Won,2016-10-25,2017-03-11,4514.0,GTX,4821,medical,2002.0,3178.24,4540.0,United States,NaN,Melvin Marxen,Central
2,EC4QE1BX,Darcel Schlecht,MG Special,Cancity,Won,2016-10-25,2017-03-07,50.0,MG,55,retail,2001.0,718.62,2448.0,United States,NaN,Melvin Marxen,Central
3,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,GTX,550,software,1998.0,2714.90,2641.0,United States,Acme Corporation,Dustin Brinkmann,Central
4,PE84CX4O,Zane Levy,GTX Basic,Hatfan,Won,2016-10-25,2017-03-02,517.0,GTX,550,services,1982.0,792.46,1299.0,United States,NaN,Summer Sewald,West
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8795,9MIWFW5J,Versie Hillebrand,MG Advanced,No Acct Name Entered,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8796,6SLKZ8FI,Versie Hillebrand,MG Advanced,No Acct Name Entered,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8797,LIB4KUZJ,Versie Hillebrand,MG Advanced,No Acct Name Entered,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8798,18IUIUK0,Versie Hillebrand,MG Advanced,No Acct Name Entered,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central
8799,8I5ONXJX,Versie Hillebrand,MG Advanced,No Acct Name Entered,Prospecting,NaN,NaN,NaN,MG,3393,NaN,NaN,NaN,NaN,NaN,NaN,Dustin Brinkmann,Central

In [4]:
df2 #looks like that worked too. can start working with these two CSVs in tableau until 
#they prove problematic.

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of,manager,regional_office
0,1C1I7A6R,Moses Frase,GTX Plus Basic,Cancity,Won,2016-10-20,2017-03-01,1054.0,GTX,1096.0,retail,2001.0,718.62,2448.0,United States,NaN,Dustin Brinkmann,Central
1,MV1LWRNH,Moses Frase,GTX Basic,Codehow,Won,2016-10-25,2017-03-09,588.0,GTX,550.0,software,1998.0,2714.90,2641.0,United States,Acme Corporation,Dustin Brinkmann,Central
2,WF4HA5NW,Moses Frase,MG Special,Ron-tech,Won,2016-11-07,2017-03-18,50.0,MG,55.0,medical,1992.0,3922.42,6837.0,United States,NaN,Dustin Brinkmann,Central
3,LGI8QEC2,Moses Frase,GTX Basic,Treequote,Won,2016-12-02,2017-03-06,583.0,GTX,550.0,telecommunications,1988.0,5266.09,8595.0,United States,Sonron,Dustin Brinkmann,Central
4,I043RXJV,Moses Frase,GTX Plus Basic,Dontechi,Lost,2016-12-03,2017-03-17,0.0,GTX,1096.0,software,1982.0,4618.00,10083.0,United States,NaN,Dustin Brinkmann,Central
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8800,NaN,Mei-Mei Johns,NaN,No Acct Name Entered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Melvin Marxen,Central
8801,NaN,Elizabeth Anderson,NaN,No Acct Name Entered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cara Losch,East
8802,NaN,Natalya Ivanova,NaN,No Acct Name Entered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Rocco Neubert,East
8803,NaN,Carol Thompson,NaN,No Acct Name Entered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Celia Rouche,West
8804,NaN,Carl Lin,NaN,No Acct Name Entered,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Summer Sewald,West

In [4]:
#are there instances of same sales agent, same engage date, clase date, account, but different op id diff product?
df['sales_agent'].value_counts()

sales_agent
Darcel Schlecht       747
Vicki Laflamme        451
Anna Snelling         448
Kary Hendrixson       438
Kami Bicknell         362
Versie Hillebrand     361
Zane Levy             349
Cassey Cress          346
Jonathan Berthelot    345
Gladys Colclough      317
Lajuana Vencill       311
Corliss Cosme         310
Markita Hansen        306
Maureen Marcano       285
Marty Freudenburg     281
Donn Cantrell         275
James Ascencio        267
Violet Mclelland      261
Moses Frase           260
Daniell Hammack       259
Niesha Huffines       239
Reed Clapper          237
Boris Faz             210
Cecily Lampkin        203
Hayden Neloms         202
Elease Gluck          177
Rosie Papadopoulos    160
Rosalina Dieter       160
Garret Kinder         123
Wilburn Farren        110
Name: count, dtype: int64

In [25]:
#are there instances of same sales agent, same engage date, clase date, account, but different op id diff product?
#df[df['sales_agent'] == 'Wilburn Farren']
df[(df['sales_agent'] == 'Darcel Schlecht') & (df['account'] == 'Hottechi')]

,opportunity_id,sales_agent,product,account,deal_stage,engage_date,close_date,close_value,series,sales_price,sector,year_established,revenue,employees,office_location,subsidiary_of,manager,regional_office
938,TTJXSO57,Darcel Schlecht,GTX Pro,Hottechi,Lost,2017-02-18,2017-05-20,0.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
1783,RX3F3VIU,Darcel Schlecht,MG Special,Hottechi,Lost,2017-03-25,2017-04-02,0.0,MG,55,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
2270,75S7S74S,Darcel Schlecht,GTX Basic,Hottechi,Lost,2017-04-10,2017-04-18,0.0,GTX,550,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
4014,SYJKN818,Darcel Schlecht,GTX Pro,Hottechi,Won,2017-06-19,2017-08-22,5195.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
4504,J3N73B00,Darcel Schlecht,GTX Pro,Hottechi,Won,2017-07-05,2017-08-29,4346.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
5490,EY73E4ZB,Darcel Schlecht,MG Advanced,Hottechi,Lost,2017-07-30,2017-08-05,0.0,MG,3393,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
6435,SZPU1DSR,Darcel Schlecht,GTX Plus Basic,Hottechi,Lost,2017-09-04,2017-11-30,0.0,GTX,1096,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
6916,941SDVVZ,Darcel Schlecht,GTX Pro,Hottechi,Won,2017-09-23,2017-10-02,5357.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
6966,1ZCAL93A,Darcel Schlecht,GTX Plus Pro,Hottechi,Lost,2017-09-25,2017-10-04,0.0,GTX,5482,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
7000,5DL7R4C3,Darcel Schlecht,GTX Pro,Hottechi,Lost,2017-09-26,2017-10-03,0.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
7324,M57LZE5F,Darcel Schlecht,MG Advanced,Hottechi,Lost,2017-10-07,2017-12-23,0.0,MG,3393,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
7483,FQPECFYO,Darcel Schlecht,GTX Pro,Hottechi,Won,2017-10-13,2017-12-20,4869.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central
7929,SWYO7V7O,Darcel Schlecht,GTX Pro,Hottechi,Lost,2017-11-04,2017-11-08,0.0,GTX,4821,technolgy,1997.0,8170.38,16499.0,Korea,NaN,Melvin Marxen,Central

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8800 entries, 0 to 8799
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   opportunity_id    8800 non-null   object
 1   sales_agent       8800 non-null   object
 2   product           8800 non-null   object
 3   account           8800 non-null   object
 4   deal_stage        8800 non-null   object
 5   engage_date       8300 non-null   object
 6   close_date        6711 non-null   object
 7   close_value       6711 non-null   float64
 8   series            8800 non-null   object
 9   sales_price       8800 non-null   int64
 10  sector            7375 non-null   object
 11  year_established  7375 non-null   float64
 12  revenue           7375 non-null   float64
 13  employees         7375 non-null   float64
 14  office_location   7375 non-null   object
 15  subsidiary_of     1292 non-null   object
 16  manager           8800 non-null   object
 17  regional_office   8800 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 1.2+ MB

In [30]:
df['office_location'].value_counts()

office_location
United States    6120
Korea             200
Panama            109
Belgium           109
Philipines         94
Italy              94
Kenya              92
Norway             91
Jordan             88
Japan              81
Poland             71
Brazil             61
China              58
Germany            55
Romania            52
Name: count, dtype: int64

In [3]:
#checking to see my newly cleaned left joined exported csv worked... 3:45p 5/26/24
df = pd.read_csv('all_left_joined_cntrys_fixed_5_26_24_01.csv')

In [12]:
df[df['office_location']=='Korea']  #used this along with .shape to verify it worked.

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value, series, sales_price, sector, year_established, revenue, employees, office_location, subsidiary_of, manager, regional_office]
Index: []

In [13]:
df2 = pd.read_csv('all_outer_joined_cntrys_fixed_5_26_24_01.csv')

In [18]:
df2[df2['office_location']=='Philipines'].shape  #used this along with .shape to verify it worked. 
#done fixing country typo and incompatibility issues at the df and csv level as of 3:53pm 5/26/24

(0, 18)

In [2]:
#do we have opps where deal stage = won or deal stage = lost for which close date is null?    5/27/24  1:20pm
df = pd.read_csv('all_left_joined_cntrys_fixed_5_26_24_01.csv')

In [6]:
df[(df['deal_stage']=='Lost') & (df['close_date'].isna())] #no results
df[(df['deal_stage']=='Won') & (df['close_date'].isna())] #no results either
# I resolved the issue by filtering the close date range to the maximum range.  reason there was also no count was bc they had no close date (null) 
# but becase they also no deal stage of won or lost (meaning they were either prospecting or engaging).
# so their close dates were null but their count of deal stage won or lost was 0.

Empty DataFrame
Columns: [opportunity_id, sales_agent, product, account, deal_stage, engage_date, close_date, close_value, series, sales_price, sector, year_established, revenue, employees, office_location, subsidiary_of, manager, regional_office]
Index: []